@(message: String , title: String, flesch: Double, fkgl: Double)

@main("Flesch") {

	<h2 align="center">Readability for @message : @title</h2>
	
		<table align=center	>

								<tr><td style="font-size:12px">Readability:  @flesch </tr>
								<tr><td style="font-size:12px">FKGL:  @fkgl </tr>
					
								@if(flesch > 100) {
								<tr>
      							<td style="font-size:12px">	Education Level: 4th Grader
      							</tr>
    							} else if(90 <  flesch  &&  flesch <= 100) {
      							<tr>
      							<td style="font-size:12px">	Education Level: 5th Grader
      							</tr>
    							} else if(80 <  flesch &&  flesch<= 90) {
      							<tr>
      							<td style="font-size:12px">	Education Level: 6th Grader
      							</tr>
    							} else if(70 <  flesch &&  flesch <= 80) {
      							<tr>
      							<td style="font-size:12px">	Education Level: 7th Grader
      							</tr>
    							} else if(60 <  flesch &&  flesch <= 70) {
      							<tr>
      							<td style="font-size:12px">	Education Level: 8th Grader
      							</tr>
    							} else if(50 <  flesch &&  flesch <= 60) {
      							<tr>
      							<td style="font-size:12px">	Education Level: 9th Grader
      							</tr>
    							} else if(30 <  flesch &&  flesch <= 50) {
      							<tr>
      							<td style="font-size:12px">	Education Level: High School Graduate
      							</tr>
    							} else if(0 <  flesch &&  flesch <= 30) {
      							<tr>
      							<td style="font-size:12px">	Education Level: College Graduate
      							</tr>
    							} else if(flesch < 0) {
      							<tr>
      							<td style="font-size:12px">	Education Level: Law School Graduate
      							</tr>
    							}
								</tr>

				
		</table>

  }