@(message: String , title: String,  stats: ArrayList[Stats])

@main("Stats") {

	<h2 align="center">Stats for @message : @title</h2>
	
		<table align=center	>
					
					<thead>
					<tr>
					<td style="font-size:14px"> WORDS </td>
					<td style="font-size:14px"> COUNT </td>
					</tr>
					</thead>
					
					@for(stat <- stats){
					<tr>
  				    <td style="font-size:12px">  &nbsp  @stat.getWord()  </a> &nbsp  </td>
  					<td style="font-size:12px">  &nbsp  @stat.getCount()  &nbsp  </td>
					</tr>
				}
				
		</table>
	
	
	
	<script>

    </script>
  }