@(message: String , results:List[Display])

@main("Welcome to Freelancelot") {

	<h1 align="center">Global Stats for: @message</h1>
	
		<table align=center	>
					
					<tr>
					<td> WORDS </td>
					<td> COUNT </td>
					</tr>
					
						@for(res <- results){
							@res.setStats()
							
								@for( stat <- res.getStats() ){
								<tr>
								<td>@stat.getWord()
								<td>@stat.getCount()
								</tr>
								}	
							
						}
					
				
		</table>
	
	
	
	<script>

    </script>
  }