@(userProfileAndProjects: UserProfileAndProjects)

@main("Profile") {

			<div align = center>

					<p style="font-size:12px"> Id: @userProfileAndProjects.getEmployer.getId </p>
  					<p style="font-size:12px"> Username: @userProfileAndProjects.getEmployer.getUsername</p>
  					<p style="font-size:12px"> Registration date: @userProfileAndProjects.getEmployer.getRegistration_date </p>
  					<p style="font-size:12px"> Limited account: @userProfileAndProjects.getEmployer.getLimited_account </p>
  					<p style="font-size:12px"> Display name: @userProfileAndProjects.getEmployer.getDisplay_name </p>
  					<p style="font-size:12px"> Country: @userProfileAndProjects.getEmployer.getLocation.getCountry.getName </p>
  					<p style="font-size:12px"> Role: @userProfileAndProjects.getEmployer.getRole </p>
  					<p style="font-size:12px"> Chosen Role: @userProfileAndProjects.getEmployer.getChosen_role </p>
  					<p style="font-size:12px"> Email verified: @userProfileAndProjects.getEmployer.getStatus.isEmail_verified </p>

 			</div>
 				
 				<br>
 				<br>

   	<div>
		@for(dis <- userProfileAndProjects.getProjects){
				<table>	
					<tr>
  					<td style="font-size:12px"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="@routes.ApplicationController.userProfile(dis.getOwner_id)">  @dis.getOwner_id &nbsp  </td>
  					<td style="font-size:12px">  |  @dis.getTime_submitted  &nbsp  </td>
  					<td style="font-size:12px">  |  @dis.getTitle  &nbsp  </td>
  					<td style="font-size:12px">  |  Type: @dis.getType  &nbsp  </td>
  					
  					<td style="font-size:12px">  | Skills: 
  					@for(job <- dis.getJobs){
					<a href="http://localhost:9000/skills/@job.getName"> &nbsp @job.getName &nbsp 
					}
					</td>
					
  					<td style="font-size:12px">  |  <a href="@routes.ApplicationController.statsUser(dis.getOwner_id,dis.getTitle)"> Stats  &nbsp  </td>
  					<td style="font-size:12px">  |  <a href="@routes.ApplicationController.fleschUser(dis.getOwner_id,dis.getTitle)"> Readability  &nbsp  </td><br>
  					
  					</tr>
				</table>
		}
   	</div>
}